@model ProductDetails

@{
}



<h5 class="card-title">Battery Capacity:@Model.BatteryCapacity</h5>
<p class="card-text">Garanty:@Model.Garanty</p>
<p class="card-text">Create Date:@Model.CreateDate</p>